src/main/mule/scatter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="58e4bb55-0927-4832-90e7-2b79d08f66a8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="scatterFlow" doc:id="9a89b8e4-cf61-4835-8746-df99714cb183" >
		<http:listener doc:name="Listener" doc:id="59e47d4e-3a72-4594-888a-f10868836dd5" config-ref="HTTP_Listener_config" path="/Scatter"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="aade44a1-7b00-4de7-a5d5-17fafbcca978" >
			<route >
				<set-payload value='#[output application/json&#10;---&#10;{&#10;	"Message": 100&#10;}]' doc:name="Set Payload" doc:id="71711f47-7769-4b1c-86c8-f6580bb83744" />
			</route>
			<route >
				<set-payload value='#[output application/json&#10;---&#10;{&#10;	"Message": 200&#10;}]' doc:name="Set Payload" doc:id="202b66b8-7958-4711-ab3a-390d2d6afc95" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="edeee36d-74b8-4e93-bf41-d308df7df5da">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</flow>
</mule>
